* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

#container {
  height: 98vh;
}

@media screen and (max-width: 480px) {
  .content {
      display: flex;
      flex-direction: column;
  }
}